{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'vault/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.username }}
                </div>
                <div class="input-group">
                    {{ form.email }}
                </div>
                <div class="input-group">
                    {{ form.role }}
                </div>
                <div class="input-group">
                    {{ form.password1 }}
                </div>
                <div class="input-group">
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn-submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</body>
</html>
