

.files-container {
    padding: 50px 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    animation: fadeInUp 1s;
}

.files-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00f2fe;
    font-size: 2rem;
}

.files-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.05);
}

.files-table th,
.files-table td {
    border: 1px solid #00f2fe;
    padding: 12px 20px;
    text-align: left;
}

.files-table th {
    background-color: rgba(32, 32, 32, 0.2);
}

.files-table tr:hover {
    background-color: rgba(0, 242, 254, 0.1);
}

.btn-download {
    background-color: #00f2fe;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-align: center;
}

.btn-download:hover {
    background-color: #4facfe;
    color: #fff;
}


@media (max-width: 768px) {
    .files-table th,
    .files-table td {
        font-size: 0.9rem;
        padding: 10px;
    }

    #header2 {
        font-size: 1.5rem;
    }

    .btn-download {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
